<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section}	)">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>

</head>

<body>
	<section>


		<div class="m-auto w-100" >
			<button onclick="javascript:window.history.back()" style="border: none;background: none;" class="m-auto">
				Back
			</button>
		</div>
		<!---------------------------------------------------------------------------->
		<div class="banner">
			<div class="justify-content-center text-center">
				<h1>Smart Contact Manager</h1>
				<p>Hello, every one noew lets connect to every one later to</p>
				<button type="button" class="btn btn-info">Lets's Start</button>
			</div>
		</div>
	

		<!-------------------------------------------------------------------->

	</section>
</body>

</html>